.column {
    display: flex;
    width: 100%;
    height: 70%;
    position: absolute;
    top: 30%;
}

.firstcol{
    width: 315px;
    background-color: aqua;
    margin-left: 150px;
    height: 439px;
    border-radius: 25px;
}

.firstcol div:first-child {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.secondcol {
    width: 75%;
    background-color: #282c34;
    margin-right: 150px;
    margin-left: 10px;
    height: 400px;
    background-image: url('img/doshik.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
}
