.navigation {
    list-style: none;
    margin: 0;
    background: #282c34;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    position: relative;
}

.navigation li:nth-child(2){
    right: 0%;
    animation: none;
    background-color: black;
    height: 50px;
    width: 142px;
}

.navigation li:nth-child(1){
    margin-top: 10px;
    left: 46%;
    animation: none;
    font-size: 30px;
    color: #252C3F;
    font-weight: 600;
    text-shadow: -1px 0 #252C3F, 0 1px #252C3F, 1px 0 #252C3F, 0 -1px #252C3F;
} 

.navigation a {
    text-decoration: none;
    display: flex;
    padding: 1em;
    color: white;
    height: 50px;
    width: 142px;
    justify-content: center;
    align-items: center;
}

.navigation a:hover {
    background: #00b7f5;
    height: 50px;
    width: 142px;
}

.mennenger {
    padding-left: 12px;
    padding-top: 10px;
    position: absolute;
    cursor: default;
    text-decoration: none;
    color:rgb(221, 24, 24);
    font-size: 30px;
}

.mennenger:hover {
    text-decoration: none;
}

@media all and (max-width: 25px) {
    .navigation {
        justify-content: right;
    }
}

@media all and (max-width: 25px) {
    .navigation {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
    }

    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .navigation li:last-of-type a {
        border-bottom: none;
    }
}