.text-gray-light-ultra {
    font-style: normal;
    font-weight: 400;
    color: #808891
}

.home-hero-signup .form-label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: inherit;
    text-align: left
}

.home-hero-signup .form-control-lg {
    width: 100%;
    min-height: 46px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px
}

.home-hero-signup .form-control-lg:-ms-input-placeholder {
    color: #24292e
}

.home-hero-signup .form-control-lg::-ms-input-placeholder {
    color: #24292e
}

.home-hero-signup .form-control-lg::placeholder {
    color: #24292e
}

.home-hero-signup .form-control-lg:focus {
    box-shadow: 0 0 0 0.2em hsla(0, 0%, 100%, 0.3)
}

.home-hero-signup .form-control-note {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 12px;
    color: #6a737d
}

.home-hero-signup .form-control-note .notice-highlight {
    color: #959da5
}

.btn-mktg {
    display: inline-block;
    padding: 16px 24px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #1277eb;
    border: 0;
    border-radius: 3px;
    transition: 0.2s
}

.btn-mktg:hover {
    text-decoration: none;
    background-color: #0366d6
}

.btn-primary-mktg {
    background-color: #2ebc4f
}

.btn-primary-mktg:hover {
    background-color: #28a745
}

.btn-large-mktg {
    padding: 20px 32px;
    font-size: 16px
}